.carousel-img {
  width: 100%;
  height: auto; /* Deixe o navegador calcular a altura proporcional */
  object-fit: contain;
  border-radius: 20px;
  display: block;
  max-height: 500px; /* limita em telas maiores */
}

/* Wrapper centralizado e com responsividade */
.carousel-wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-color: rgb(211, 209, 209);
  border-radius: 20px;
}

@media (min-width: 1200px) {
  .carousel-img {
    max-height: 650px;
  }
}

/* Em tablets */
@media (max-width: 991px) {
  .carousel-img {
    max-height: 400px;
  }
}

/* Em celulares */
@media (max-width: 576px) {
  .carousel-img {
    max-height: 280px;
    border-radius: 10px;
  }

  .carousel-wrapper {
    padding: 0 0.5rem;
    border-radius: 10px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
